body {
    margin: 0;
    font-family: Arial, sans-serif;
}


header {
    max-width: 1200px;
    margin: 20px auto;   /* centers + adds space around */
    padding: 20px;
    background: rgb(114, 19, 19);
    color: white;
    text-align: center;
    border-radius: 10px;
}
nav ul {
    list-style: none;
     padding: 0;
    padding: 10px;
}

nav ul li {
     display: inline;
     margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(238, 232, 232);
    font-weight: bold;

}
section {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background: #f1f3f8;
    border-radius: 10px;
    color: rgb(132, 31, 31);
.profile-img {
    width: 160px;
    height: 160px;
    border-radius: 12px;
    object-fit: cover;
    display: block;
    
}
#about {
    background: #f4f4f4;
}

#hobbies {
    background: #ffffff;
}

#skills {
    background: #f4f4f4;
}
#contact  {
    color: #0077b5;   /* blue (LinkedIn-style) */
    font-weight: bold;
}

#contact :hover {
    color: #25D366;   /* green on hover (WhatsApp feel) */
    text-decoration: underline;
}
}